
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-11-wC5 {
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:9be3e8029a6dd2f4ac3c24f4f5e09bc2f74538be');
  width: 100%;
  height: 102rem;

  .auto-group-cvmb-64y {
    width: 192rem;
    height: 14.7rem;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 4.8rem;
    align-items: center;
    line-height: 1.5;
    font-family: Reem Kufi, 'Source Sans Pro';
    display: flex;
    justify-content: center;
    background-color: #7ba885;
  }
  .auto-group-tr6m-Bs7 {
    background-color: #b4e3b6;
    box-sizing: border-box;
    padding: 2.9rem 3.85rem 9rem 3.15rem;
    height: 79.6rem;
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 87.1rem;
    left: 52.4rem;
    top: 19.2rem;
    display: flex;

    .participate-UrD {
      color: #000000;
      font-family: Josefin Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 400;
      line-height: 1;
      text-decoration-line: underline;
      margin: 0rem 0.5rem 3.3rem 0rem;
      font-size: 4rem;
      white-space: nowrap;
    }
    .we-invite-you-to-be-a-part-of-our-community-dedicated-to-saving-the-environment-register-now-and-help-us-make-a-positive-impact-on-our-planet-together-we-can-create-a-more-sustainable-and-greener-world-join-us-today-Bkd {
      text-align: center;
      font-size: 4rem;
      line-height: 1;
      flex-shrink: 0;
      margin: 0rem 0rem 3.1rem 0.7rem;
      max-width: 79.4rem;
      font-weight: 400;
      color: #000000;
      font-family: Josefin Sans, 'Source Sans Pro';
    }
    .join-our-discord-server-and-fill-the-registration-form-to-be-a-part-of-us-get-updated-with-the-rallies-and-helping-people-create-awareness-about-saving-our-mother-earth-Cfj {
      flex-shrink: 0;
      margin: 0rem 0.1rem 8.6rem 0rem;
      max-width: 80rem;
      font-size: 4rem;
      font-weight: 400;
      color: #000000;
      font-family: Josefin Sans, 'Source Sans Pro';
      text-align: center;
      line-height: 1;
    }
    .auto-group-jacq-Ftu {
      width: calc(100% - 76.2528rem);
      height: 4.7rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:3ea2b12620d6728565006049b62a70be30674f22');
      flex-shrink: 0;
      margin: 0rem 37.703rem 0rem 38.55rem;
    }
  }
  .beige-simple-one-line-butterfly-events-logo-1-2-Mh3 {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 33.4rem;
    height: 17rem;
    cursor: pointer;
  }
}
