
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-12-zmw {
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:93e71ea79a1d94d38ee431688be22c679eadf47b');
  position: relative;
  display: flex;
  align-items: flex-end;
  background-position: center;
  width: 100%;
  overflow: hidden;

  .auto-group-rsts-9eq {
    flex-shrink: 0;
    width: 193.9rem;
    height: 18.1rem;
    position: relative;

    .rectangle-18-JXj {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #7793b5;
      width: 192rem;
      height: 14.7rem;
    }
    .people-zone-r3T {
      left: 78.65rem;
      line-height: 1.5;
      white-space: nowrap;
      width: 34.6rem;
      height: 7.2rem;
      text-align: center;
      font-size: 4.8rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Reem Kufi, 'Source Sans Pro';
      position: absolute;
      top: 3.1rem;
    }
    .beige-simple-one-line-butterfly-events-logo-1-3-wKo {
      width: 33.4rem;
      height: 17rem;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 1.1rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .auto-group-v9hj-4QR {
    padding: 0rem 3.9rem 3.4rem 3.8rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-zxh7-bQM {
      margin-bottom: 2.8rem;
      width: 100%;
      height: 30.1rem;
      position: relative;
      background-color: #d4ddee;
      border-radius: 2rem;
      flex-shrink: 0;

      .senior-and-child-care-kHF {
        position: absolute;
        left: 65rem;
        top: 3rem;
        line-height: 1.25;
        color: #000000;
        font-family: Qwigley, 'Source Sans Pro';
        width: 54.4rem;
        height: 12rem;
        white-space: nowrap;
        font-weight: 400;
        text-align: center;
        font-size: 9.6rem;
      }
      .providing-compassionate-care-for-seniors-and-children-ensuring-comfort-safety-and-well-being-across-generations-rbB {
        width: 166.4rem;
        height: 14.4rem;
        font-size: 4.8rem;
        line-height: 1.5;
        color: #000000;
        font-family: Reem Kufi, 'Source Sans Pro';
        position: absolute;
        left: 9rem;
        top: 12.2rem;
        text-align: center;
        font-weight: 400;
      }
    }
    .auto-group-agd7-hrh {
      margin: 0rem 8.5rem 0rem 11rem;
      width: calc(100% - 19.5rem);
      height: 47.6rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .auto-group-sb45-E5w {
        align-items: center;
        display: flex;
        border-radius: 2rem;
        flex-shrink: 0;
        padding: 2.2rem 3.15rem 2.85rem 2.25rem;
        height: calc(100% - 2.3rem);
        width: 54.3rem;
        flex-direction: column;
        background-color: #d5ddee;
        margin: 0.6rem 17.5rem 1.7rem 0rem;
        box-sizing: border-box;

        .volunteer-to-get-involved-in-helping-seniors-and-children-Wp9 {
          font-family: Reem Kufi, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 48.9rem;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
        }
        .image-8-qLd {
          height: 25.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.35rem;
          width: 26rem;
        }
        .frame-12-xRF {
          height: 4.8rem;
          color: #000000;
          font-family: Reem Kufi, 'Source Sans Pro';
          box-sizing: border-box;
          background-color: #ffffff;
          font-size: 3.2rem;
          flex-shrink: 0;
          margin: 0rem 7.55rem 0rem 8.45rem;
          font-weight: 400;
          line-height: 1.5;
          display: flex;
          border: solid 0.1rem #000000;
          width: calc(100% - 16rem);
          text-align: center;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
      }
      .auto-group-asbo-mtV {
        background-image: url('REPLACE_IMAGE:19feb88dd923b9618d99781b6e4ff99c8f1d9e4b');
        flex-shrink: 0;
        margin-right: 20rem;
        width: 18.7rem;
        height: 18.7rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
      .auto-group-1bcv-VpV {
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #d5ddee;
        border-radius: 2rem;
        margin-bottom: 2.3rem;
        padding: 2.8rem 4rem 2.15rem 5.6rem;
        width: 54.3rem;
        flex-shrink: 0;

        .bridge-the-generations-with-love-and-laughter-p65 {
          max-width: 44.7rem;
          text-align: center;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Reem Kufi, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .image-9-jTw {
          margin: 0rem 0rem 0.35rem 0.1rem;
          width: 25.6rem;
          height: 25.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .frame-13-rHf {
          font-weight: 400;
          display: flex;
          justify-content: center;
          line-height: 1.5;
          color: #000000;
          border: solid 0.1rem #000000;
          flex-shrink: 0;
          margin: 0rem 6.7rem 0rem 5.1rem;
          width: calc(100% - 11.8rem);
          text-align: center;
          font-family: Reem Kufi, 'Source Sans Pro';
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          height: 4.8rem;
          font-size: 3.2rem;
          white-space: nowrap;
          align-items: center;
          box-sizing: border-box;
        }
      }
    }
  }
}
