
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-1-tYh {
  padding-bottom: 3.9rem;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-nwwb-gjT {
    flex-shrink: 0;
    margin: 0rem 6.3rem 7.1rem 0rem;
    width: 190.7rem;
    height: 82rem;
    position: relative;

    .rectangle-1-VaR {
      top: 4.2rem;
      background: linear-gradient(89.93deg, #b7d9e1 42.64%, #efc6ce 66.98%, rgba(103, 218, 135, 0) 81.64%, rgba(165, 186, 171, 0.1899999976) 82.89%, rgba(178, 203, 185, 0.1700000018) 85.45%, rgba(160, 180, 165, 0.3100000024) 88.06%, rgba(154, 157, 155, 0.4300000072) 94.64%, rgba(152, 156, 153, 0.4600000083) 99.85%);
      width: 181.8rem;
      height: 24.9rem;
      position: absolute;
      left: 3.9rem;
    }
    .beige-simple-one-line-butterfly-events-logo-1-1-erd {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 65rem;
      height: 38.7rem;
      position: absolute;
    }
    .rectangle-2-Aa5 {
      width: 21.3rem;
      height: 7.1rem;
      position: absolute;
      left: 73.5rem;
      top: 14.1rem;
      background-color: #7793b5;
      border-radius: 1rem;
    }
    .rectangle-3-Heh {
      top: 14.1rem;
      background-color: #b56d6d;
      border-radius: 1rem;
      width: 21.3rem;
      height: 7.1rem;
      position: absolute;
      left: 101.3rem;
    }
    .people-1ah {
      height: 7.2rem;
      position: absolute;
      top: 14.2rem;
      font-size: 4.8rem;
      line-height: 1.5;
      font-family: Reem Kufi, 'Source Sans Pro';
      white-space: nowrap;
      width: 14.7rem;
      cursor: pointer;
      left: 74rem;
      text-align: center;
      font-weight: 400;
      color: #000000;
    }
    .rectangle-4-5Kf {
      position: absolute;
      left: 129.1rem;
      top: 14.1rem;
      background-color: #7ba885;
      border-radius: 1rem;
      width: 21.3rem;
      height: 7.1rem;
    }
    .rectangle-5-CQH {
      width: 26.1rem;
      height: 7.1rem;
      position: absolute;
      left: 156.9rem;
      top: 14.1rem;
      background-color: #a7a7a7;
      border-radius: 1rem;
    }
    .planet-XxM {
      width: 14rem;
      height: 7.2rem;
      cursor: pointer;
      left: 130rem;
      font-size: 4.8rem;
      font-weight: 400;
      font-family: Reem Kufi, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 14.2rem;
      line-height: 1.5;
      color: #000000;
    }
    .petcare-3Qu {
      cursor: pointer;
      position: absolute;
      top: 14.3rem;
      font-size: 4.8rem;
      line-height: 1.5;
      color: #000000;
      font-family: Reem Kufi, 'Source Sans Pro';
      width: 17.6rem;
      left: 102.2rem;
      font-weight: 400;
      white-space: nowrap;
      height: 7.2rem;
    }
    .child-holding-red-rubber-heart-1-kaD {
      background-size: 100% 164.798%;
      background-position: 0 -6.664rem;
      background-image: url('REPLACE_IMAGE:46a538d1ad4b1941ae4120ff6d8303b108f8072e');
      width: 134.2rem;
      height: 49.8rem;
      position: relative;
      left: 28.9rem;
      top: 32.2rem;
    }
    .play-to-lift-EkH {
      line-height: 1.5;
      font-family: Reem Kufi, 'Source Sans Pro';
      width: 22.9rem;
      top: 14.1rem;
      font-weight: 400;
      left: 157.8rem;
      font-size: 4.8rem;
      color: #000000;
      white-space: nowrap;
      height: 7.2rem;
      cursor: pointer;
      position: absolute;
    }
  }
  .auto-group-6lfk-8am {
    margin: 0rem 22rem 0rem 22.4rem;
    width: calc(100% - 44.4rem);
    height: 9rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-8fsh-3Sq {
      margin-right: 80.8rem;
      box-sizing: border-box;
      font-size: 4.8rem;
      color: #000000;
      font-family: Reem Kufi, 'Source Sans Pro';
      background-color: #d9d9d9;
      padding: 1.6rem 6.6rem 0.2rem 4.3rem;
      height: 100%;
      font-weight: 400;
      line-height: 1.5;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-cb5t-iJ5 {
      padding: 1.7rem 3.6rem 0.1rem 4.3rem;
      height: 100%;
      font-size: 4.8rem;
      background-color: #d9d9d9;
      flex-shrink: 0;
      white-space: nowrap;
      box-sizing: border-box;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Reem Kufi, 'Source Sans Pro';
    }
  }
}
