
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-11-wC5 {
  width: 100%;
  height: 102rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/desktop-11-bg.png');
}
.desktop-11-wC5 .auto-group-cvmb-64y {
  width: 192rem;
  height: 14.7rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Reem Kufi, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7ba885;
}
.desktop-11-wC5 .auto-group-tr6m-Bs7 {
  box-sizing: border-box;
  padding: 2.9rem 3.85rem 9rem 3.15rem;
  width: 87.1rem;
  height: 79.6rem;
  position: absolute;
  left: 52.4rem;
  top: 19.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #b4e3b6;
}
.desktop-11-wC5 .auto-group-tr6m-Bs7 .participate-UrD {
  margin: 0rem 0.5rem 3.3rem 0rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  text-decoration-line: underline;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-11-wC5 .auto-group-tr6m-Bs7 .we-invite-you-to-be-a-part-of-our-community-dedicated-to-saving-the-environment-register-now-and-help-us-make-a-positive-impact-on-our-planet-together-we-can-create-a-more-sustainable-and-greener-world-join-us-today-Bkd {
  margin: 0rem 0rem 3.1rem 0.7rem;
  max-width: 79.4rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-11-wC5 .auto-group-tr6m-Bs7 .join-our-discord-server-and-fill-the-registration-form-to-be-a-part-of-us-get-updated-with-the-rallies-and-helping-people-create-awareness-about-saving-our-mother-earth-Cfj {
  margin: 0rem 0.1rem 8.6rem 0rem;
  max-width: 80rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  color: #000000;
  font-family: Josefin Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-11-wC5 .auto-group-tr6m-Bs7 .auto-group-jacq-Ftu {
  margin: 0rem 37.703rem 0rem 38.55rem;
  width: calc(100% - 76.2528rem);
  height: 4.7rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-7-bg.png');
  flex-shrink: 0;
}
.desktop-11-wC5 .beige-simple-one-line-butterfly-events-logo-1-2-Mh3 {
  width: 33.4rem;
  height: 17rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
