
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-2-aYZ {
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 5.3rem 6.3rem 7rem 5.8rem;
  width: 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:1a71ff7ab9420ae2f32ab897f40e89189c3cb63b');
  overflow: hidden;
  align-items: center;
  background-size: 100% 100%;

  .auto-group-yhcv-WBK {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #a4a29d;
    flex-shrink: 0;
    margin-right: 48.1rem;
    padding: 2.3rem 7.6rem 5.2rem 7.5rem;
    height: 89.7rem;
    box-sizing: border-box;
    width: 65.9rem;

    .vision-QXb {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 5.1rem 1.2rem 0rem;
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Reem Kufi, 'Source Sans Pro';
    }
    .to-be-the-catalyst-for-a-world-where-empathy-knows-no-borders-we-dream-of-a-planet-where-every-life-is-valued-and-every-heart-is-touched-by-the-power-of-giving-our-philanthropic-website-is-a-bridge-that-connects-compassionate-individuals-organizations-and-communities-from-all-corners-of-the-globe-through-collaboration-innovation-and-unwavering-dedication-we-envision-a-future-where-humanitys-collective-goodwill-transforms-challenges-into-opportunities-disparities-into-equality-and-adversity-into-hope-vkq {
      flex-shrink: 0;
      margin: 0rem 0.5rem 2rem 0rem;
      max-width: 50.3rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Reem Kufi, 'Source Sans Pro';
    }
    .closeup-diverse-people-joining-their-hands-1-cXB {
      height: 28.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 50.8rem;
    }
  }
  .auto-group-3oaq-vGy {
    box-sizing: border-box;
    padding: 2.2rem 7.5rem 5.2rem 7.6rem;
    height: 89.7rem;
    background-color: #a4a29d;
    width: 65.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .mission-2qo {
      font-size: 4.8rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Reem Kufi, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 1.9rem 1.3rem 0rem;
    }
    .to-be-a-digital-hub-of-compassion-and-action-where-we-unite-people-resources-and-ideas-to-tackle-pressing-global-challenges-we-are-dedicated-to-raising-awareness-mobilizing-support-and-fostering-a-culture-of-giving-that-transcends-borders-and-backgrounds-through-our-website-we-strive-to-empower-individuals-and-organizations-to-create-a-world-where-every-person-enjoys-dignity-opportunity-and-a-brighter-future-Zaq {
      max-width: 50.8rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.5;
      color: #000000;
      font-family: Reem Kufi, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 9.2rem;
    }
    .winner-board-game-accurate-center-business1172-324-1-uHK {
      width: 50.8rem;
      height: 28.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
