
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-10-PQD {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 102rem;
  position: relative;

  .auto-group-kvo3-XWR {
    left: 0;
    justify-content: center;
    font-family: Reem Kufi, 'Source Sans Pro';
    white-space: nowrap;
    width: 192rem;
    position: absolute;
    top: 0;
    font-size: 4.8rem;
    line-height: 1.5;
    color: #ffffff;
    align-items: center;
    background-color: #7ba885;
    height: 14.7rem;
    text-align: center;
    font-weight: 400;
    display: flex;
  }
  .auto-group-k4uf-cGy {
    background-image: url('REPLACE_IMAGE:68bc8272bb730475a9f3c14f817792f8a72a9af4');
    box-sizing: border-box;
    padding: 4.6rem 3.4rem 4.6rem 3.3rem;
    width: 192rem;
    align-items: center;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 87.3rem;
    position: absolute;
    left: 0;
    top: 14.7rem;
    display: flex;

    .auto-group-eaxh-uWy {
      margin-right: 8.2rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .rectangle-23-48y {
        height: 37.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3.7rem;
        width: 41rem;
      }
      .rectangle-24-b8u {
        width: 41rem;
        height: 37.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-piu1-8ed {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 4.9rem;

      .rectangle-25-65f {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3.7rem;
        width: 41rem;
        height: 37.2rem;
      }
      .rectangle-26-q3F {
        width: 41rem;
        height: 37.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-such-P4m {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 8.2rem;
      height: 100%;

      .rectangle-27-juK {
        height: 37.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 3.7rem;
        width: 41rem;
      }
      .rectangle-28-gZf {
        width: 41rem;
        height: 37.2rem;
        position: relative;
        background-size: 100% 110.215%;
        background-position: 0 -1.9rem;
        background-image: url('REPLACE_IMAGE:f6942ae296fad62d7e3a0cf3aec752cab0e6eb50');
        flex-shrink: 0;
      }
    }
    .auto-group-vpmw-auw {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .rectangle-29-Lu7 {
        background-image: url('REPLACE_IMAGE:88ec5b84911a2de72c31793b51ef44a9dcca6b75');
        flex-shrink: 0;
        margin-bottom: 3.7rem;
        width: 41rem;
        height: 37.2rem;
        position: relative;
        background-size: 100% 106.594%;
        background-position: 0.1375rem -2.5596rem;
      }
      .rectangle-30-44R {
        width: 41rem;
        height: 37.2rem;
        position: relative;
        background-size: 100% 165.323%;
        background-position: 0 -5.6526rem;
        background-image: url('REPLACE_IMAGE:f90c0047c85b1f26b1caf36fd1b158144cd34687');
        flex-shrink: 0;
      }
    }
  }
  .beige-simple-one-line-butterfly-events-logo-1-2-MZK {
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 33.4rem;
    height: 17rem;
    cursor: pointer;
    position: absolute;
    left: 0;
  }
}
