
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.desktop-3-wQM {
  row-gap: 2.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-t8fj-5mT {
    text-align: center;
    background-color: #7793b5;
    flex-shrink: 0;
    height: 14.7rem;
    line-height: 1.5;
    color: #ffffff;
    display: flex;
    width: 100%;
    font-family: Reem Kufi, 'Source Sans Pro';
    white-space: nowrap;
    font-size: 4.8rem;
    font-weight: 400;
    align-items: center;
    justify-content: center;
  }
  .people-care-is-at-the-heart-of-everything-we-do-we-believe-that-every-person-regardless-of-their-circumstances-deserves-to-be-treated-with-compassion-respect-and-dignity-our-commitment-to-people-care-is-an-essential-aspect-of-our-mission-to-create-a-positive-and-lasting-impact-in-the-world-m8V {
    margin-left: 3.4rem;
    max-width: 158.5rem;
    text-align: center;
    font-weight: 400;
    color: #000000;
    flex-shrink: 0;
    font-size: 4.8rem;
    line-height: 1.5;
    font-family: Reem Kufi, 'Source Sans Pro';
  }
  .auto-group-dqa9-xyf {
    margin-right: 17.3rem;
    width: calc(100% - 17.3rem);
    height: 61.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-ssmj-JGq {
      width: 63.9rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-11-r3T {
        width: 38.5rem;
        height: 37.6rem;
        cursor: pointer;
        position: absolute;
        left: 17.2rem;
        top: 0;
        background-color: #d4ddee;
        border-radius: 2rem;
      }
      .group-1-Apq {
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 34.8rem;
        width: 50.7rem;
        height: 26.5rem;

        .beige-simple-one-line-butterfly-events-logo-1-1-7VB {
          width: 50.7rem;
          height: 26.5rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .help-us-create-positive-change-support-vital-causes-and-transform-lives-through-your-donation-qRB {
        width: 32.3rem;
        left: 19.8rem;
        line-height: 1.5;
        color: #000000;
        height: 14.4rem;
        position: absolute;
        top: 21.6rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Reem Kufi, 'Source Sans Pro';
      }
      .image-1-JJm {
        width: 35.5rem;
        height: 19.5rem;
        position: absolute;
        left: 18.3rem;
        top: 2.1rem;
        object-fit: cover;
        vertical-align: top;
      }
      .frame-10-dM3 {
        justify-content: center;
        border: solid 0.1rem #000000;
        width: 32.9rem;
        font-size: 3.2rem;
        font-weight: 400;
        align-items: center;
        background-color: #ffffff;
        position: absolute;
        color: #000000;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        height: 4.8rem;
        white-space: nowrap;
        display: flex;
        left: 19rem;
        top: 15.75rem;
        line-height: 1.5;
        font-family: Reem Kufi, 'Source Sans Pro';
      }
    }
    .auto-group-yhpm-fHj {
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 21rem;

      .auto-group-d9q3-1Mb {
        margin-right: 21rem;
        padding: 1.7rem 1.6rem 1.2rem 1.6rem;
        display: flex;
        flex-direction: column;
        background-color: #d4ddee;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 38.5rem;
        align-items: center;
        border-radius: 2rem;

        .auto-group-pjc9-K7P {
          margin-bottom: 0.4rem;
          box-sizing: border-box;
          width: 100%;
          height: 19.9rem;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url('REPLACE_IMAGE:a08bd65b9f68b73f030c1a14ff5909f9e116d011');
          padding: 14.15rem 1.2rem 0.95rem 1.2rem;
          background-size: 100% 100%;
          flex-shrink: 0;

          .frame-11-2Gh {
            justify-content: center;
            line-height: 1.5;
            color: #000000;
            align-items: center;
            width: 100%;
            height: 100%;
            font-weight: 400;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            text-align: center;
            font-size: 3.2rem;
            font-family: Reem Kufi, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            background-color: #ffffff;
          }
        }
        .explore-our-initiatives-join-us-in-the-fight-against-illness-and-be-a-part-of-healing-hearts-and-saving-lives-NNV {
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
          font-family: Reem Kufi, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.4rem;
          max-width: 34.9rem;
          font-size: 2.4rem;
        }
      }
      .auto-group-r289-Efb {
        width: 38.5rem;
        align-items: center;
        display: flex;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-top: 1.1rem;
        box-sizing: border-box;
        padding: 2.2rem 1.8rem 5.9rem 1.9rem;
        flex-direction: column;
        background-color: #d4ddee;

        .auto-group-2b13-xLh {
          width: 100%;
          height: 18.3rem;
          background-image: url('REPLACE_IMAGE:917fe2bec7ec4e046bbb6acec25ae571ac7940c3');
          padding: 12.65rem 1rem 0.85rem 0.9rem;
          box-sizing: border-box;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          flex-shrink: 0;
          margin-bottom: 0.4rem;

          .frame-12-g1o {
            box-sizing: border-box;
            text-align: center;
            line-height: 1.5;
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 0.1rem #000000;
            font-size: 3.2rem;
            font-weight: 400;
            white-space: nowrap;
            background-color: #ffffff;
            width: 100%;
            font-family: Reem Kufi, 'Source Sans Pro';
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            height: 100%;
            color: #000000;
          }
        }
        .join-us-in-creating-a-world-where-every-senior-enjoys-dignity-and-every-child-thrives-vwj {
          font-family: Reem Kufi, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.2rem;
          max-width: 33rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.5;
          color: #000000;
        }
      }
    }
  }
}
