
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 50.7rem;
}.group-1-7bw {
  height: 26.5rem;
  width: 100%;

  .beige-simple-one-line-butterfly-events-logo-1-1-5Ym {
    width: 50.7rem;
    height: 26.5rem;
    object-fit: cover;
    vertical-align: top;
  }
}
